body {
  background-color: tan;
  font-family: sans-serif;
  margin-left: 12%;
}
h1 {
  font-size: 25px;
}
h1, h3 {
  color: green;
  font-family: cursive;
}
h3 {
  color: saddlebrown;
}
h2 {
  color: green;
}
#special {
  color: brown;
}
.tea {
  color: blue;
  font-family: fantasy;
}
.coffee {
  color: rgb(110,19,19)
}
