body {
    background-color: rgb(254, 253, 183);
}
h1 {
    font-size: 400%;
    color: rgb(15,151,53);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5px;
    margin: 2px;
}
h3 {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 150%;
}
#sitename {
    font-family: 'Lobster Two', cursive;
    color: rgb(39,119,164);
}
span {
    color: black;
    font-size: 100%;
    font-weight: bold;
}
#adresa {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(39,119,164);
    font-weight: bolder;
    font-size: 125%;
}